$white: #ffffff;
$primaryGrey: #545454;
$secondaryGrey: #cccccc;
$strongGrey: #A0A0A0;
$primaryBlue: #2578e4;
$danger: #F18B82;
$orange: #fdab12;
$yellow: #fde406;
$purple: #D6AEFB;
$roboto: 'Roboto', sans-serif;